colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
mutagen==1.47.0
packaging==26.0
pillow @ file:///C:/Users/task_178098860813044/croot/pillow_1780988677271/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
PyQt5==5.15.11
PyQt5_sip @ file:///D:/bld/pyqt-split_1759495386442/work/pyqt_sip
qrcode @ file:///home/conda/feedstock_root/build_artifacts/qrcode_1746214971449/work
setuptools==82.0.1
sip @ file:///D:/bld/sip_1759437825890/work
toml @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_toml_1764486833/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
wheel==0.46.3
